:root{
    --cor-de-fundo: #FFFFFF;
    --cor-botao: #007931;
    --preto: #1A1A1A;
    --cinza-util: #d8d8d8;
    --verde-util: #008836;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.cabecalho{
    display: grid;
    grid-template-columns: 35% 50% 15%;
    background-color: var(--cor-de-fundo);
    margin-top: 0.75em;
    margin-bottom: 1em;
    align-items: center;
}

.cabecalho__item1{
    margin-top: 1em;
    margin-left: auto;
}

.cabecalho__item2{
    margin-top: 1em;
    margin-right: auto;
    margin-left: 2em;
}

.cabecalho__botao{
    align-items: center;
    padding: 1em;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
}

.botao__criar{
    color: var(--cor-botao);
    background-color: var(--cor-de-fundo);
    border: 1px solid var(--cor-botao);
}

.botao__criar:hover{
    background-color: var(--cinza-util);
    color: var(--preto);
    border: none;
}

.botao__login{
    color: var(--cor-de-fundo);
    background-color: var(--cor-botao); 
    border: 1px solid var(--preto);   
}

.botao__login:hover{
    background-color: var(--verde-util);
    color: var(--preto);
    border: none;
}

.pagina__inicio{
    padding: 3em;
    background-color: var(--preto);
    background-image: url(img/Backgound.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    justify-content: center;
}

.principal__titulo{
    margin: 1em 0 0.5em 0;
    color: var(--cor-de-fundo);
    font-size: 60px;
}

.principal__div{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8em;
    background-color: rgba(106, 106, 106, 0.75);
    border-radius: 100px;
    width: 50em;
    max-width: 80%;
}

.principal__div:hover{
    background-color: rgba(124, 124, 124, 0.75);
}

.principal__buscar{
    border: none;
    float: left;
    background-color: transparent;
    color: var(--cor-de-fundo);
    margin-top: 0.15em;
    margin-left: 0.2em;
    padding-left: 2em;
    padding-bottom: 0.15em;
    font-size: 18px;
    width: 40em;
    border-radius: 100px;
    max-width: 90%;
}

.explorar__titulo{
    font-size: 10px;
    margin: 2em 0 3em 4em;
}

.explorar{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.explorar__lista{
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;
}

.wrapper {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #fff; 
    }
    
    .wrapper img{
    height: 100%;
    width: 100%;
    filter: grayscale (100%);
    transition: 0.5s ease;
    cursor: pointer;
    }
    
    .wrapper img:hover {
    transform: scale(1.3);
    filter: grayscale (0%);
    }

.texto__titulo{
    background-color: var(--preto);
    color: var(--cor-de-fundo);
    text-align: center;
    padding: 1em 0;
}

.texto{
    display: flex;
}

.texto__texto{
    margin: 1em 1em;
    font-size: 20px;
    text-align: justify;
}

.texto__imagem{
    max-width: 50vw;
}

.apoie__titulo{
    font-size: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
}

.apoie__lista{
    display: flex;
    list-style-type: none;
    margin-top: 2em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.apoie__item{
    text-align: center;
    border: solid var(--cinza-util) 1px;
    padding: 2em 1em;
    width: 20em;
}

.apoie__conteudo{
    height: 20em;
}
.apoie__imagem{
    max-width: 98%;
}

.apoie__item:hover{
    border-radius: 15px;
    padding-top: 1em;
}

.apoie__botao{
    background-color: var(--cor-botao);
    padding: 1em 2em;
    text-decoration: none;
    color: var(--cor-de-fundo);
    display: inline-block;
}

.apoie__botao:hover{
    background-color: var(--verde-util);
    color: var(--preto);
}

.apoie__texto{
    margin-bottom: 3em;
}

.final__titulo{
    margin: 3em 0 2em 0;
    padding: 0.5em;
    font-size: 30px;
}

.final__texto{
    margin: 2em 10%;
    font-size: 20px;
    text-align: justify;
}

.final__mensagem{
    text-align: center;
    margin: 2em 0;
    font-weight: 700;
    font-size: 20px;
}

.final__imagem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.final__div_imagem{
    width: 6em;
}

.rodape{
    background-color: var(--preto);
    color: var(--cor-de-fundo);
}

.rodape__logo{
    margin: 3em;
}

.rodape__fim{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-top: 1em;
    padding-bottom: 4em;
}

.rodape__link{
    margin-left: 2em;
    margin-top: 0.5em;
}

.rodape__link:hover{
    color: var(--cor-botao);
}

.rodape__email{
    margin-top: 2em;
    background-color: transparent;   
    border: 0px;
    border-bottom: 1px solid var(--cor-de-fundo); 
    border-radius: -1px;
    color: var(--cor-de-fundo);
}

.rodape__email-imagem{
    margin: -5px;
}
